<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактировать Продукт</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1>Редактировать Продукт</h1>

    <!-- Изменён путь в th:action -->
    <form th:action="@{/admin/products/{id}(id=${product.id})}" th:object="${product}" method="post">


        <!-- CSRF токен -->
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

        <div class="form-group">
            <label for="name">Название</label>
            <input type="text" th:field="*{name}" class="form-control" id="name" required>
        </div>

        <div class="form-group">
            <label for="category">Категория</label>
            <select th:field="*{category.id}" class="form-control" id="category" required>
                <option value="" disabled selected>Выберите категорию</option>
                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
            </select>
        </div>

        <div class="form-group">
            <label for="manufacturer">Производитель</label>
            <select th:field="*{manufacturer.id}" class="form-control" id="manufacturer" required>
                <option value="" disabled selected>Выберите производителя</option>
                <option th:each="manufacturer : ${manufacturers}" th:value="${manufacturer.id}" th:text="${manufacturer.name}"></option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
        <a th:href="@{/admin/listProducts}" class="btn btn-secondary">Назад к списку продуктов</a>
    </form>
</div>
</body>
</html>
