<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список записей - Администратор салона</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/employee/listChart">График</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/employee/listClients">Клиенты</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/employee/listRecords">Записи</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container mt-5">
    <h1>Записи - Администратор салона красоты</h1>
    <form class="form-inline my-2 my-lg-0 mb-4" action="/employee/listRecords" method="get">
        <input class="form-control mr-sm-2" type="search" name="search" placeholder="Поиск по имени" th:value="${search}">
        <button class="btn btn-primary" type="submit">Поиск</button>
    </form>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Описание</th>
            <th>Цена</th>
            <th>Количество</th>
            <th>Клиент</th>
            <th>Материалы</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="record : ${recordsPage.content}">
            <td th:text="${record.id}"></td>
            <td th:text="${record.name}"></td>
            <td th:text="${record.description}"></td>
            <td th:text="${record.price}"></td>
            <td th:text="${record.count}"></td>
            <td th:text="${record.client != null ? record.client.name : 'Нет клиента'}"></td>
            <td th:text="${record.product_and_materials != null ? record.product_and_materials.name : 'Нет материала'}"></td>
            <td>
                <a th:href="@{/employee/listRecords/edit/{id}(id=${record.id})}" class="btn btn-primary">Редактировать</a>
            </td>
        </tr>
        </tbody>
    </table>
    <nav>
        <ul class="pagination">
            <li th:each="i : ${#numbers.sequence(0, recordsPage.totalPages - 1)}" class="page-item">
                <a class="page-link" th:href="@{/employee/listRecords(page=${i}, search=${search})}" th:text="${i + 1}"></a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>
